<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameStore - Consolas</title>
    <link rel="stylesheet" href="../Static/css/stylecat.css">
</head>
<body>
   <!-- Barra Lateral -->
<div class="sidebar">
    <h2>Inicio</h2>
    
    <div class="nav-section">
        <h3>Perfil</h3>
        <ul class="nav-list">
            <li>Buscar</li>
            <li>Favoritos</li>
            <li>Pedidos</li>
        </ul>
    </div>

    <div class="nav-section">
        <h3>Categorías</h3>
        <ul class="nav-list">
            <li>Juegos</li>
            <li>Accesorios</li>
            <li>Consolas</li>
            <li>Controles</li>
            <li>Carrito</li>
        </ul>
    </div>

    <!-- Botón Registrarse dentro de la barra lateral -->
    <div class="sidebar-register-section">
        <button class="sidebar-register-btn">Registrarse</button>
    </div>
</div>

    <!-- Contenido Principal -->
    <div class="main-content">
        <header class="header">
            <h1>Accesorios</h1>
        </header>

        <main class="products">
            <!-- Producto 1 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/Audifonos_Gamer.jpg" alt="Xbox Series X" class="product-image">
                <h3>ADIFONOS GAMER</h3>
                <p class="product-description">Accesorios de Consola</p>
                <p class="product-price">$760.00</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

            <!-- Producto 2 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/controlxboxblack.png" alt="Xbox Series S" class="product-image">
                <h3>CONTROL XBOX INALAMBRICO CARBON BLACK PARA XBOX ONE SERIES X Y S</h3>
                <p class="product-description">Controles</p>
                <p class="product-price">$1,096.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

            <!-- Producto 3 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/controlplay5.png" alt="Nintendo Switch" class="product-image">
                <h3>CONTROL PLAYSTATION 5 DUALSENSE WHITE</h3>
                <p class="product-description">Controles</p>
                <p class="product-price">$1,699.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

            <!-- Producto 4 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/controlplay5black.png" alt="PlayStation 4" class="product-image">
                <h3>CONTROL PLAYSTATION 5 DUALSENSE BLACK</h3>
                <p class="product-description">Controles</p>
                <p class="product-price">$1,876.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

            <!-- Producto 5 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/controlxboxcian.png" alt="PlayStation 5" class="product-image">
                <h3>CONTROL XBOX INALAMBRICO CIAN PARA XBOX SERIES X Y S</h3>
                <p class="product-description">Controles</p>
                <p class="product-price">$1,896.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

            <!-- Producto 6 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/controlxboxred.png" alt="PlayStation 5" class="product-image">
                <h3>CONTROL XBOX INALAMBRICO RED PARA XBOX SERIES X Y S</h3>
                <p class="product-description">Controles</p>
                <p class="product-price">$1,996.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

            <!-- Producto 7 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/controlxboxwhite.png" alt="PlayStation 5" class="product-image">
                <h3>CONTROL XBOX INALAMBRICO WHITE PARA XBOX SERIES X Y S</h3>
                <p class="product-description">Controles</p>
                <p class="product-price">$1,496.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

            <!-- Producto 8 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/soporte_control.png" alt="PlayStation 5" class="product-image">
                <h3>SOPORTE PARA CONTROL XBOX SERIES X Y S</h3>
                <p class="product-description">Accesorios de Consola</p>
                <p class="product-price">$2,496.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

            <!-- Producto 9 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/tarjeta_memoria_xbx.png" alt="PlayStation 5" class="product-image">
                <h3>TARJETA DE EXPANSION DE ALMACENAMIENTO 1TB SEAGATE XBOX SERIES X</h3>
                <p class="product-description">Accesorios de Consola</p>
                <p class="product-price">$6,996.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>
        </main>
    </div>
</body>
</html>