<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Game Store</title>
    <link rel="stylesheet" href="/app/static/css/stylee.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script></script>

</head>

<body>
    <nav class="barra_lateral">
        <a class="logo_link" href="#"><img class="logo" src="/app/static/img/Icon_GS.png" alt="Logo"></a>

        <ul>
            <li><a class="enlace_barra_lateral" href="#"><i class="fa-solid fa-house"></i> Inicio</a></li>
            <li><a class="enlace_barra_lateral" href="#"><i class="fa-solid fa-circle-user"></i> Perfil</a></li>
            <li><a class="enlace_barra_lateral" href="#"><i class="fa-solid fa-magnifying-glass"></i> Buscar</a></li>
            <li><a class="enlace_barra_lateral" href="#"><i class="fa-solid fa-heart"></i> Favoritos</a></li>
            <li><a class="enlace_barra_lateral" href="#"><i class="fa-solid fa-box"></i> Pedidos</a></li>
            <li>
                <h3>Categorías</h3>
            </li>

            <li><a class="enlace_barra_lateral" href="#"><i class="fa-solid fa-ghost"></i> Juegos</a></li>
            <li><a class="enlace_barra_lateral" href="#"><i class="fa-solid fa-headset"></i> Accesorios</a></li>
            <li><a class="enlace_barra_lateral" href="#"><i class="fa-solid fa-tv"></i> Consolas</a></li>
            <li><a class="enlace_barra_lateral" href="#"><i class="fa-solid fa-gamepad"></i> Controles</a></li>
            <li><a class="enlace_barra_lateral" href="/app/templates/Carrito.html"><i
                        class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
            <li><a class="enlace_barra_lateral" href="#"><i class="fa-solid fa-user"></i> Registrarse</a></li>
        </ul>
    </nav>
    <main>
        <header class="encabezado">
             <section class="buscador">
                <input type="text" id="buscar" placeholder="Buscar producto">
                <button class="btn_buscar" id="mostrarBuscar"><i class="fa-solid fa-magnifying-glass"></i></button>
            </section>

            <section class="iconos">
                <button class="btn_notificaciones" id="mostrarNotificaciones"><i class="fa-solid fa-bell"></i></button>
                <a  class="icon" href="/app/templates/Carrito.html"><i class="fa-solid fa-cart-shopping"></i></a>
                <a class="icon" href="#"><i class="fa-solid fa-circle-user"></i></a>
            </section>
        </header>


    </main>
</body>

</html>