<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Consolas</title>
    <link rel="stylesheet" href="/app/static/css/stylee.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body>
    <nav class="barra_lateral">
        <a class="logo_link" href="/index.html"><img class="logo" src="/app/static/img/Icon_GS.png" alt="Logo"></a>

        <ul>
            <li><a class="enlace_barra_lateral" href="/index.html"><i class="fa-solid fa-house"></i> Inicio</a></li>
            <li><a class="enlace_barra_lateral" href="/app/templates/perfiluser.html"><i
                        class="fa-solid fa-circle-user"></i> Perfil</a></li>
            <li><a class="enlace_barra_lateral" href="#buscar"><i class="fa-solid fa-magnifying-glass"></i> Buscar</a>
            </li>
            <li><a class="enlace_barra_lateral" href="/app/templates/favoritos.html"><i class="fa-solid fa-heart"></i>
                    Favoritos</a></li>

            <li><a class="enlace_barra_lateral" href="/app/templates/pedidos.html"><i class="fa-solid fa-box"></i>
                    Pedidos</a></li>
            <li>
                <h3>Categorías</h3>
            </li>
            <li><a class="enlace_barra_lateral" href="/app/templates/juegos.html"><i class="fa-solid fa-ghost"></i>
                    Juegos</a></li>
            <li><a class="enlace_barra_lateral" href="/app/templates/accesorios.html"><i
                        class="fa-solid fa-headset"></i> Accesorios</a></li>
            <li><a class="enlace_barra_lateral_fijo" href="/app/templates/consolas.html"><i class="fa-solid fa-tv"></i>
                    Consolas</a></li>
            <li><a class="enlace_barra_lateral" href="/app/templates/controles.html"><i class="fa-solid fa-gamepad"></i>
                    Controles</a></li>
            <li><a class="enlace_barra_lateral" href="/app/templates/Carrito.html"><i
                        class="fa-solid fa-cart-shopping"></i> Carrito</a></li>
            <li><a class="enlace_barra_lateral" href="/app/templates/registro.html"><i class="fa-solid fa-user"></i>
                    Registrarse</a></li>
        </ul>
    </nav>

    <main>
        <header class="encabezado">
            <section class="buscador">
                <input type="text" id="buscar" placeholder="Buscar producto">
                <button class="btn_buscar" id="mostrarBuscar"><i class="fa-solid fa-magnifying-glass"></i></button>
            </section>

            <section class="iconos">
                <button class="btn_notificaciones" id="mostrarNotificaciones"><i class="fa-solid fa-bell"></i></button>
                <a class="icon" href="/app/templates/Carrito.html"><i class="fa-solid fa-cart-shopping"></i></a>
                <a class="icon" href="/app/templates/perfiluser.html"><i class="fa-solid fa-circle-user"></i></a>
            </section>
        </header>

        <div class="principal">
            <div class="consolas">
                <h1>Consolas</h1>
                <p class="subtitulo">Las mejores consolas para tu experiencia gaming</p>

                <section class="productos">

                    <!-- Producto 1 -->
                    <div class="producto">
                        <div class="imagenes_producto">
                            <img class="imagen_producto" src="../Static/img/Imagenes/series x especial.png"
                                alt="Xbox Series X">
                        </div>
                        <h3 class="product-title">XBOX SERIES X 2TB GALAXY BLACK LIMITED EDITION</h3>
                        <p class="product-category">Hardware</p>
                        <div class="product-price-section">
                            <span class="product-price">$17,000.00</span>
                        </div>
                        <button class="btn_carrito"><i class="fa-solid fa-cart-shopping"></i> Añadir al Carrito</button>
                    </div>

                    <!-- Producto 2 -->
                    <div class="producto">
                        <div class="imagenes_producto">
                            <img class="imagen_producto" src="../Static/img/Imagenes/consolaseries.png"
                                alt="Xbox Series S">
                        </div>
                        <h3 class="product-title">CONSOLA XBOX SERIES X 1TB DIGITAL</h3>
                        <p class="product-category">Hardware</p>
                        <div class="product-price-section">
                            <span class="product-price">$896.99</span>
                        </div>
                        <button class="btn_carrito"><i class="fa-solid fa-cart-shopping"></i> Añadir al Carrito</button>
                    </div>

                    <!-- Producto 3 -->
                    <div class="producto">
                        <div class="imagenes_producto">
                            <img class="imagen_producto" src="../Static/img/Imagenes/Nintendo_Switch_2.jpeg"
                                alt="Nintendo Switch">
                        </div>
                        <h3 class="product-title">CONSOLA NINTENDO SWITCH 32GB JOY-CON NEGRO Y ROJO NEON</h3>
                        <p class="product-category">Hardware</p>
                        <div class="product-price-section">
                            <span class="product-price">$7,799.99</span>
                        </div>
                        <button class="btn_carrito"><i class="fa-solid fa-cart-shopping"></i> Añadir al Carrito</button>
                    </div>

                    <!-- Producto 4 -->
                    <div class="producto">
                        <div class="imagenes_producto">
                            <img class="imagen_producto" src="../Static/img/Imagenes/play4500gb.png"
                                alt="PlayStation 4">
                        </div>
                        <h3 class="product-title">PLAY STATION 4 500GB</h3>
                        <p class="product-category">Hardware</p>
                        <div class="product-price-section">
                            <span class="product-price">$9,876.99</span>
                        </div>
                        <button class="btn_carrito"><i class="fa-solid fa-cart-shopping"></i> Añadir al Carrito</button>
                    </div>

                    <!-- Producto 5 -->
                    <div class="producto">
                        <div class="imagenes_producto">
                            <img class="imagen_producto" src="../Static/img/Imagenes/play5.png" alt="PlayStation 5">
                        </div>
                        <h3 class="product-title">PLAY STATION 5 1TB</h3>
                        <p class="product-category">Hardware</p>
                        <div class="product-price-section">
                            <span class="product-price">$11,996.99</span>
                        </div>
                        <button class="btn_carrito"><i class="fa-solid fa-cart-shopping"></i> Añadir al Carrito</button>
                    </div>

                </section>
            </div>
        </div>
    </main>
</body>

</html>