<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GameStore - Inicio</title>
    <link rel="stylesheet" href="../Static/css/stylecat.css">
</head>
<body>
   <!-- Barra Lateral -->
<div class="sidebar">
    <h2>Inicio</h2>
    
    <div class="nav-section">
        <h3>Perfil</h3>
        <ul class="nav-list">
            <li>Buscar</li>
            <li>Favoritos</li>
            <li>Pedidos</li>
        </ul>
    </div>

    <div class="nav-section">
        <h3>Categorías</h3>
        <ul class="nav-list">
            <li>Juegos</li>
            <li>Accesorios</li>
            <li>Consolas</li>
            <li>Controles</li>
            <li>Carrito</li>
        </ul>
    </div>

    <!-- Botón Registrarse dentro de la barra lateral -->
    <div class="sidebar-register-section">
        <button class="sidebar-register-btn">Registrarse</button>
    </div>
</div>
    <!-- Contenido Principal -->
    <div class="main-content">
        <header class="header">
            <h1>Juegos</h1>
        </header>

        <main class="products">
            <!-- Producto 1 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/CODBO6.png" alt="Xbox Series X" class="product-image">
                <h3>CALL OF DUTY BLACK OPS 6</h3>
                <p class="product-description">Juego Digital para Xbox</p>
                <p class="product-price">$1,200.00</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

            <!-- Producto 2 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/howards.png" alt="Hogwarts Legacy" class="product-image">
                <h3>HOGWARTS LEGACY</h3>
                <p class="product-description">Juego Digital para Xbox</p>
                <p class="product-price">$1,000.34</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

            <!-- Producto 3 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/mk1_xbox.png" alt="Control Xbox" class="product-image">
                <h3>MORTAL KOMBAT 1</h3>
                <p class="product-description">Juego Digital para Xbox</p>
                <p class="product-price">$651.00</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

            <!-- Producto 4 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/codbocoldwar.png" alt="Soporte para controles" class="product-image">
                <h3>CALL OF DUTY COLD WAR</h3>
                <p class="product-description">Juego Digital para Xbox</p>
                <p class="product-price">$789.89</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

            <!-- Producto 5 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/crash_xbox.png" alt="Tarjeta de expansión" class="product-image">
                <h3>CRASH BANDICOOT NSANE TRILOGY</h3>
                <p class="product-description">Juego Digital para Xbox</p>
                <p class="product-price">$396.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

            <!-- Producto 6 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/elden_ring.png" alt="Tarjeta de expansión" class="product-image">
                <h3>ELDEN RING</h3>
                <p class="product-description">Juego Digital para Xbox</p>
                <p class="product-price">$896.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

             <!-- Producto 7 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/FC26.jpeg" alt="Tarjeta de expansión" class="product-image">
                <h3>FIFA 26</h3>
                <p class="product-description">Juego Digital para Xbox</p>
                <p class="product-price">$1,296.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

             <!-- Producto 8 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/good_of_war_ps4.png" alt="Tarjeta de expansión" class="product-image">
                <h3>GOOD OF WAR</h3>
                <p class="product-description">Juego para PS4</p>
                <p class="product-price">$596.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

             <!-- Producto 9 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/grounded2.png" alt="Tarjeta de expansión" class="product-image">
                <h3>GROUNDED 2</h3>
                <p class="product-description">Juego Digital para Xbox</p>
                <p class="product-price">$1,896.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

             <!-- Producto 10 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/gta5_xbox.png" alt="Tarjeta de expansión" class="product-image">
                <h3>GRAND THEFT AUTO V</h3>
                <p class="product-description">Juego Digital para Xbox</p>
                <p class="product-price">$596.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

            <!-- Producto 11 -->
            <div class="product-card">
                <img src="../Static/img/Imagenes/gta6.png" alt="Tarjeta de expansión" class="product-image">
                <h3>GRAND THEFT AUTO VI</h3>
                <p class="product-description">Juego Digital para PS5</p>
                <p class="product-price">$1,996.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

            <!-- Producto 12-->
            <div class="product-card">
                <img src="../Static/img/Imagenes/mc_nintendo.png" alt="Tarjeta de expansión" class="product-image">
                <h3>MINECRAFT</h3>
                <p class="product-description">Juego Digital para Nintendo Switch</p>
                <p class="product-price">$996.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

            <!-- Producto 13-->
            <div class="product-card">
                <img src="../Static/img/Imagenes/overcooked2NS.png" alt="Tarjeta de expansión" class="product-image">
                <h3>OVERCOOKED 2</h3>
                <p class="product-description">Juego Digital para Nintendo Switch</p>
                <p class="product-price">$1,296.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

            <!-- Producto 14-->
            <div class="product-card">
                <img src="../Static/img/Imagenes/spider_man2.png" alt="Tarjeta de expansión" class="product-image">
                <h3>SPIDER MAN 2</h3>
                <p class="product-description">Juego Digital para PS5</p>
                <p class="product-price">$1,896.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>

             <!-- Producto 15-->
            <div class="product-card">
                <img src="../Static/img/Imagenes/thelastofus_ps5.png" alt="Tarjeta de expansión" class="product-image">
                <h3>THE LAST OF US PART I</h3>
                <p class="product-description">Juego Digital para PS5</p>
                <p class="product-price">$1,196.99</p>
                <button class="cart-btn">Añadir al Carrito</button>
            </div>
        </main>
    </div>
</body>
</html>